spring:
  application:
    name: todo
  datasource:
    url: jdbc:postgresql://localhost:5432/todo
    username: rege
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
